body {
    font-family: sans-serif;
    font-size: small;
    background-image:url("bg.png") ;
    width: 800px;
    max-width: 90%;
    margin: 0 auto;
}
div {  
    list-style: none;
   color: #FFFFFF;
}
ul {
    list-style: none;
    color: #FFFFFF;
}


.nav-list {
    position: fixed;
    
    align-items: center;
    
    
    display: grid;
    grid-auto-flow: column;
    margin-top: -15px;
    margin-left: 50%;
    padding: 0px;
    color: white;
    overflow: hidden;
    background-color: #333;
    
    height: 50px;
    width: auto;
    
    float: inline-start;
    z-index: 2;
}  
.nav-list a { 
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#aktiv {
    background-color: #db7f50;
    font-size: 20px;
    font-weight: normal;
}   
.nav-list a:hover{
    background-color: #111 ;

    transform: translateY(2px);
}
.kreis {
background: #50505056;
border-radius: 80%;
height: 800px;
width: 800px;
    position: absolute;
    margin-top: -20%;
    margin-left: -5%;
    opacity: 92%;
    }

.icon {
    
    display:ruby;
    grid-auto-flow:column;
    margin-left: 40%;
    margin-top: -10%;
    
    z-index: 1;
    position: absolute;
    color: #FFFFFF;
    opacity: 10%;
    transition: all ease-in-out 0,2s;
}
.icon:hover{ 
    transform: translateX(-13px);
}  


h1 {
    text-decoration: none;
    font-size: 5em;
    font-family: Sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    color: white;
}
h1 a { 
    text-decoration: none;
    font-size: 3em;
    font-weight: bold;
    opacity: 95%;
    color: rgb(255, 8, 8);
    float: center;

}
h2 {
    text-decoration: none;
    font-size: 1,5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #000000;
    margin-top:0px;
    margin-left: 0%;
} 
h3 {
    text-decoration: none;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: normal;
    color: #db7f50;
    margin-top:-60px;
    margin-left: -20%;
    margin-bottom: 10px;
} 

h4 {
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: normal;
    color: black;
    margin-top:5px;
    margin-left: -20%;
    margin-bottom: 2px;
} 
  
.text1 { 
    position: sticky;  
    z-index: 1;  
    font-style: Bold;
    margin-left: 50%;
    font-size: 450%;
    margin-top: 0%;
    margin-left: 45%;
    opacity: 80%;
    color: black;
}   
.text2 { 
    position: sticky;  
    z-index: 1;  
    font-style: normal;
    margin-left: 50%;
    font-size: 300%;
    margin-top: 0;
    opacity: 70%;
    color: rgb(8, 8, 8);
    
}   
.text3 { 
    
    position: sticky;  
    z-index: 1;  
    font-style: normal;
    text-align: center;
    margin-left: 0%;
    font-size: 29px;
    margin-top: 150px;
    opacity: 70%;
    text-decoration: none;
    display: block;
    font-size: 15px;
    color: black;
}

.formular{
   width: 300px;
   padding:35px;
   margin: auto;
   margin-top:20%;
   font-family: sans-serif;
   margin-left: 5%;

} 
.formular .controlls {
    width: 80%; 
    margin-left: -20%;
    margin-block-end: 10%;
    height: 10%;
    background: #d1d1d1;
    padding: 5%;
    opacity: 70%;
    font-size: 15px;
    font-weight: normal;
}    
.formular .controllsN {
    width: 150%; 
    margin-left: -20%;
    margin-block-end: 5px;
    height: 50px;
    background: #d1d1d1;
    padding: 5%;
    opacity: 70%;
    font-size: 15px;
    font-weight: normal;
}    

.formular .bottons {
    margin-bottom: 5%;
    margin-left: -20%;
    width: 50%;
    height: auto;
    background: #5a7e64 ;
    border: none;
    color: white;
    padding: left;
    font-weight: lighter;
    font-size: 15px;
}    



.cons {                   /*   mehrspaltiges element */ 
    grid-gap:180px;      /*    Lücke zwischen den Elementen */
    margin-right: 50%;
    margin-top:15%;
    margin-bottom: 10%;
    font-style:italic;
  
} 
.cons a {                      /* ,,Projekt" des mehrsaltigen Elemnts */ 
    text-decoration: none;
    display: block;
    font-size: 500%;
    margin-left: -13%;
    font-weight: bold;
    margin-bottom: 10%;
    margin-top: 50%;
    color: rgb(105, 102, 102);
}

.container {
    position: relative;
    width: 800px;
    margin-left: 4%;
}
.image {
    margin: auto;
    display: block;
    width: 100%;
    height: 90%;
}
.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgba(176, 114, 235, 0.5);
    color: #ffffff; 
    width: 60%;
    transition: 2.5s ease;
    opacity:0;
    color: rgb(255, 251, 251);
    font-size: 100px;
    padding: 20%;
    text-align:left;
  }
.container:hover .overlay {
    opacity: 1;
  }

.cons2 {
    grid-gap:180px;
    margin-right: 10px;
    margin-top:5%;
    margin-bottom: 10px;
    color:#5a7e64;
    text-align: left;
} 
.cons2 a {
    text-decoration:none;
    display: block;
    font-size: 500%;
    color:#575c59;
    margin-left: -5%;
    font-weight: bold;
    margin-bottom: 0%;
}

.container2 {
    position: relative;
    margin: auto;
    width: 800px;
}

.overlay2 {
    position: static; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; 
    width: 50%;
    transition: 3.5s ease;
    opacity:0;
    color: white;
    font-size: 100%;
    padding: 1%;
    text-align: center;
  }
.container2:hover .overlay2 {
    opacity: 1;
  }


button {
    margin-left: 50%;
    background-color: #f7c8ad;
}
.rep {
    grid-auto-flow: column;
    grid-auto-columns: 1px;
    margin-top: 40%;
    margin-bottom: 0%;
    text-align: center;
    color: black;
    opacity: 40%;
}


/* ----------------------------------------------------- Smartphohne Ansicht --------------------------------------------------------*/
@media (max-width: 600px ){
        
     .icon {
        margin-left: 15%;
        margin-top: -10%;
     }
     .text1{
         font-size: 40px;
         margin-left: 50%;
         flex: content;
     }
     .text2{
         font-size: 30px;
         margin-left: 55%;
         flex-direction: column;
     }
     h1{
         font-size: 25px;
         margin-left: 5%;
         margin-top: 10%;
         flex-direction: column;
     }
     h2{
         font-size: 20px;
         margin-bottom: 5%;
         margin-top: 25%;
         margin-left: 17%;
     }
     h3{
         color: red;
     }
     .cons a {
         margin-bottom: -40%;
         font-size: 50px;
         margin-left:40%;
     }
     .kreis{
        height: 600px;
        width: 600px;
     }
     .container .video{
         width: 350px;
         height: auto;
         margin-left: 17%;
     }
     .container .image{
        width: 350px;
        height: auto;
        margin-left: 17%;
    }
    .overlay {
        width: 19%;
        height: 10%;
        font-size: 10px;
        padding: 13%;
        text-align:left;
        margin-left: 17%;
        font-size: 30px;
      }
      .cons2 a {
          margin-left: 20%;
          font-size: 30px;
      }
      .container2 li {
          margin-left: 16%;
      }
      .overlay2{
          margin-left: 14%;
      }
      .nav-list{
          margin-top: -5%;
          margin-left: 50%;
      }

}
}
/*-----------------------------------------Tablet Ansicht-------------------------------------------*/
@media (min-width: 600px ){     /* Leider nicht für tablet hinbekommen..
    .icon{
        margin-left: 120%;
        margin-top: -10%;
     }
     .text1{
         font-size: 40px;
         margin-left: 50%;
         flex: content;
     }
     .text2{
         font-size: 30px;
         margin-left: 55%;
         flex-direction: column;
     }
     h1{
         font-size: 25px;
         margin-left: 5%;
         margin-top: 10%;
         flex-direction: column;
     }
     h2{
         font-size: 20px;
         margin-bottom: 5%;
         margin-top: 25%;
         margin-left: 17%;
     }
     h3{
         color: red;
     }
     .cons a {
         margin-bottom: -40%;
         font-size: 50px;
         margin-left:40%;
     }
     .kreis{
        height: 600px;
        width: 600px;
     }
     .container li .video{
         width: 350px;
         height: auto;
         margin-left: 17%;
     }
     .container li .image{
        width: 350px;
        height: auto;
        margin-left: 17%;
    }
    .overlay {
        width: 19%;
        height: 10%;
        font-size: 10px;
        padding: 13%;
        text-align:left;
        margin-left: 17%;
        font-size: 30px;
      }
      .cons2 a {
          margin-left: 20%;
          font-size: 30px;
      }
      .container2 li {
          margin-left: 16%;
      }
      .overlay2{
          margin-left: 14%;
      }
      .nav-list{
          margin-top: -5%;
          margin-left: 50%;
      }

}