* {
    
    font-family: Arial, Helvetica, sans-serif;
}

h2, p, a, audio {
    position: relative;
    left: 40%;
    width: 25%;
}

h1{
    position: relative;
    color:red;
    left: 40%;
    z-index: 1;
}


#musicVideo {
    position: relative;
    left: 40%;
}



.navbar {
    position:relative;
    padding: 20px;
    font-size: 20px;
}



video {
    max-width: 320px;
    max-height: 240px;
}

.video {
    position:relative;
    top: 10px;
    left: 40%;

}
.logo {
    position: relative;
    top: 20px;
    left: 30%;

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #009900;
    text-align: center;

}

#kreis {
    background-color: #009900;
    width: 400px;
    height: 400px;
    margin: -250px auto auto auto;
    border-radius: 35%;
    
    z-index: -1;
}